<div class="container-main">
  <div class="wrap-form">
    <form [formGroup]="newForm" novalidate (ngSubmit)="post()">

      <label>
        Name:
        <input type="text" name="name" formControlName="Name">
      </label>
      <div class="alert alert-danger"
           *ngIf="newForm.controls['Name'].invalid && newForm.controls['Name'].touched">
        Не указано Name
      </div>

      <label>
        SurName:
        <input type="text" formControlName="SurName">
      </label>
      <div class="alert alert-danger"
           *ngIf="newForm.controls['SurName'].invalid && newForm.controls['SurName'].touched">
        Не указано SurName
      </div>

      <label>
        Email:
        <input type="text" formControlName="Email">
      </label>
      <div class="alert alert-danger"
           *ngIf="newForm.controls['Email'].invalid && newForm.controls['Email'].touched">
        Не указано Email
      </div>

      <label>
        Phone:
        <input formControlName="Phone">
      </label>
      <div class="alert alert-danger"
           *ngIf="newForm.controls['Phone'].invalid && newForm.controls['Phone'].touched">
        Не указано Phone
      </div>

      <label>
        Password:
        <input type="text" formControlName="Password">
      </label>

      <div class="alert alert-danger"
           *ngIf="newForm.controls['Password'].invalid && newForm.controls['Password'].touched">
        Не указано Password
      </div>
      <button [disabled]="!newForm.valid" type="submit" (click)="post()">Submit</button>

    </form>
  </div>
</div>